.page-title {
    display: inline-block;
    font-size: 14px;
    height: 46px;
    line-height: 23px;
    margin-top: 3px;
    padding-top: 10px;
    color: #555;
    position: relative;
    padding-left: 35px;

}

.page-title>i {
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.btn-default {
    background-color: #fff !important;
    border-color: #ccc !important;
    color: #222 !important;
}

.row>[class*=col-] {
    margin-bottom: 5px;
}

body.login .logo {
    height: auto;
    max-width: 52px;
    margin: 0 auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}