@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  padding-top: 4mm;
  /* padding-bottom: 8mm; */
  position: relative;
  margin: 0px;
  color: #001028;
  background: #FFFFFF;
  font-family: Courier, sans-serif;
  font-size: 12px;
  font-family: Courier;
}

table {
  width: 100%;
  cellspacing: 0;
}

table td {
  text-align: top;
  /* padding-left: 2mm; */
  width: 105mm;
  height: 35mm;
  /* outline: 1px dotted; */
  text-align: left;
  overflow: hidden;
  padding-left: 4mm;
  float: left;
  overflow: hidden;
  /* padding-bottom: 1mm; */
  /* line-height: 50%; */
  /* cellspacing: 0; */
  /* border: 1px solid black; */
}
